.main-menu ul {
 margin: 0;
 padding: 0;
}

.main-menu nav ul {
display: flex;
list-style: none;
}

.main-menu nav ul li{
 margin-right: 20px;
 padding: 20px;
}

.main-menu a {
   transition: 0.4s;
   color: #ffffff;
   font-size: 20px;
   text-decoration: none;
   padding: 0 10px;
   margin: 0 10px;
   text-decoration: none;
}
.main-menu a:hover {
  background-color: #ffffff;
  color: gray;
  padding: 24px 10px;
  text-decoration: none;
} 

/* media query */
@media(max-width: 768px){
 .main-menu nav {
  float: left;
  display: block;
  background-color: black;
  width: 100%;
 }
 .main-menu nav ul {
  display: block;

}
 .main-menu nav ul li a {
  color: white;
}
}